.content {
    padding: 0 40px;
}

/*button {*/
    /*position: absolute;*/
    /*right: 24px;*/
/*}*/

/*.customerBox {*/
    /*width: 650px;*/
/*}*/

.mdl-button--right {
    float: right;
}

body {
    margin: 0;
}