<!DOCTYPE html>
<html>
<head>
  <title>FitYou</title>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <link rel="stylesheet" href="styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<%= yield %>

<% if Rails.env.production? %>
    <script src="/dist.js"></script>
<% else %>
    <script src="/bundle.js"></script>
<% end %>

</body>
</html>
